<section class="section">
  <div class="container">
    <div class="columns">
      <%= link_to 'New Tweeet', new_tweeet_path %>
      <%= render 'trends'%>
      <%= render 'feed'%>
      <%= render 'who-to-follow'%>
    </div>
  </div>
</section>
